:root {
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1748926717051---font--body-font: 'Space Mono';
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1748926717051---font--heading-font: 'Space Grostesk';
    --ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1748926717051---font--button-font: 'Space Mono';
}

body {
    background-color: #000;
}

[data-barba="wrapper"] { position: relative; min-height: 100vh; }
[data-barba="container"] {
  position: absolute;
  inset: 0;          
  width: 100%;
  height: 100%;
}

/* optional: avoid scrollbars fighting during transitions */
body.is-transitioning { overflow: hidden; }

/*------------------ LANDING ------------------*/

.grid-container {
    position:absolute; 
    inset:0; 
    width: var(--grid-dimension); 
    height: var(--grid-dimension);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#grid-bg {
    position:absolute; 
    inset:0;     
    width: 100%; 
    height: 100%;
    background-image: 
        linear-gradient(to right, rgb(255 255 255 / 20%) 0 1px, #ffffff00 1px), 
        linear-gradient(to bottom, rgb(255 255 255 / 20%) 0 1px, #ffffff00 1px);
    background-size: var(--cell-size) var(--cell-size);
    pointer-events:none;
    clip-path: polygon(
        0 var(--y), 
        var(--x) var(--y), 
        calc(var(--x) + var(--y)) 0, 
        100% 0, 
        100% calc(100% - var(--y)), 
        calc(100% - var(--x)) calc(100% - var(--y)), 
        calc(100% - var(--x) - var(--y)) 100%, 
        0 100%);
}

#outline {
    position:absolute; 
    inset:0; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.copyright-text{
    font-size: clamp(1rem,1.6vmax,4vmin);
    position: absolute;
    padding: 0 0.5em;
    line-height: var(--cell-size);
}

.tagline {
    font-size: clamp(2rem,4.8vmax,10vmin);
    position: absolute;
    text-align: right;
    padding: 0 0.25em;
    z-index: 999;
    text-shadow: 0 0 calc(0.6em * var(--e)) #ffffff, 0 0 calc(0.05em * var(--e)) #ffffff;
}

.window {
    position: absolute;
    background: #000;
    z-index: 1;
    clip-path: polygon(
        calc(50% - var(--w) / 2 * var(--cell-size)) calc(50% - var(--h) / 2 * var(--cell-size)),
        calc(50% + var(--w) / 2 * var(--cell-size)) calc(50% - var(--h) / 2 * var(--cell-size)),
        calc(50% + var(--w) / 2 * var(--cell-size)) calc(50% + var(--h) / 2 * var(--cell-size)),
        calc(50% - var(--w) / 2 * var(--cell-size)) calc(50% + var(--h) / 2 * var(--cell-size))
    );
}

/*------------------ UNLOCK ------------------*/

div:has(#unlock-module) {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#unlock-module {
    display: grid;
    position: relative;
}

#unlock-module-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#unlock-module #unlock-title {
    font-family: var(--ai-gen-82921b10-4b39-48f0-b346-808cf4903d29-1748926717051---font--body-font);
    font-size: clamp(2rem, 4.8vmax, 10vmin);    
    background: #000;
    text-shadow: 0 0 2em #ffffff99, 0 0 0.1em #ffffffaa;
}

#unlock-module .cell {
    display:flex;
    flex-direction: column;
    justify-content: center;      
    text-align: center;
    font-size: 1em;
    transition: transform 0.2s;
}

#unlock-module #submit-btn {
    width: calc(var(--cell-size) * 6);
    height: var(--cell-size);
    border: 2px solid #fff;
    background: #000;
    font-size: 2rem;
    position: absolute;
    bottom: var(--cell-size);
    left: 50%;
    transform: translateX(-50%);
    transition: box-shadow 0.2s ease, opacity 0.2s ease;
}

#unlock-module #submit-btn:hover {
    text-shadow: 0 0 4px #fff;
    box-shadow: 0 2px 64px -8px #fff, 0 1px 2px #fff;
}

#unlock-module #submit-btn[disabled] {
    border: none;
}

#unlock-module #submit-btn[disabled]:hover {
    text-shadow: none;
    box-shadow: none;
}

.message {
    width: calc(var(--cell-size) * 8 - 4px);
    height: var(--cell-size);
    display: block;
    text-align: center;
    background: #000;
    top: calc(50% - var(--cell-size) * 2);
    position: absolute;
}

.warning-message {
    color: red;
}

.text-line {
    position: absolute;
}

.text-1 {
    right: 0.25em;
    top: -1.25em;
    font-size: 1.5rem;
}

.text-2 {
    left: -1.25em;
    top: calc(50% + var(--cell-size) * 0.85);
    transform-origin: 100% 50%;
    transform: translateX(-100%) rotate(-90deg);
}

.code {
    display: flex;
    gap: 0;
    position: absolute;
}

.digit {
    width: calc(var(--cell-size) * 2);
    height: calc(var(--cell-size) * 2);
    border: 1px solid #000;
    color: #000;
    font-size: var(--cell-size);
    text-align: center;
    outline: none;
}

.line-vertical {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
}

.line-horizontal {
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
}

.line-solid {
    background: #fff8;
}

.line-dashed.line-horizontal {
    background: repeating-linear-gradient(
        to right,
        currentColor 0 8px,
        transparent 8px 16px
    );
}

.line-dashed.line-vertical {
    background: repeating-linear-gradient(
        to bottom,
        currentColor 0 8px,
        transparent 8px 16px
    );
}

.welcome {
    color: white;
    text-align: center;
    position: absolute;
    top: calc(50% - var(--cell-size) * 2);
    left: 50%;
    transform: translateX(-50%);
}

/*------------------ MAIN ------------------*/
main#liminalspace {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#liminalspace #logo-holder {
    width: 4rem;
    height: 4rem;
    padding: 0;
    inset: 5rem;
}

#logo-holder #logo-mask {
    width: 100%;
    height: 100%;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 320'%3E%3Cpath d='M80 80V240H240L160 320H0V80H80ZM320 0V240H240V80H80L160 0H320Z' fill='white'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

#logo-holder #logo-fill {
    background: #fff;
    width: 100%;
    height: 100%;
}

#liminalspace>div {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5rem;
}

#liminalspace .scroll-hint {
    font-size: 0.75rem;
    color: #fffa;
    text-transform: uppercase;
}

div:has(>#user_message) {
    max-width: 65ch;
}

#user_message {
    white-space: pre-line;
    overflow-wrap: break-word;
    word-break: break-word;
}

#logout-btn {
    display: none;
}

#welcome .inner-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    bottom: 0;
    text-shadow: 0 0 64px #000, 0 0 24px #000;
}

#welcome h1 {
    font-family: "Space Grotesk";
    font-size: 8rem;
    height: 3em;
    align-content: flex-end;
}

canvas#space {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    inset: 0;
}

#welcome .scroll-hint {
    margin-bottom: 3rem;
}

#welcome .scroll-cue-container{
    flex: 1 0 0;
    position:relative;
    padding: 2rem 0;
    width:1px;
    overflow:hidden;
    color:#fff
}

.scroll-cue-container .line {
    content: '';
    transform-origin: 50% 0%;
    display: block;
    height: 100%;
    width: 1px;
    background: #fff;
}

#welcome .scroll-cue {
    display: none; /* Hide until there is actual content */
    height: 100%;
    position: relative;
}

#welcome .scroll-cue .inner{
  position:absolute;left:0;top:0;width:100%;height:100%;
  background:#fffa;transform-origin:50% 0%;transform:scaleY(0);
  transition:transform .3s cubic-bezier(0,0.55,0.45,1)
}